# # version: "3.9"

# # services:
# #   db:
# #     image: postgres:15
# #     container_name: postgres
# #     restart: always
# #     env_file:
# #       - .env
# #     volumes:
# #       - postgres_data:/var/lib/postgresql/data
# #     ports:
# #       - "5432:5432"

# #   web:
# #     build: .
# #     container_name: django_web
# #     command: >
# #       sh -c "python manage.py migrate &&
# #              python manage.py runserver 0.0.0.0:8000"
# #     volumes:
# #       - .:/app
# #     ports:
# #       - "8000:8000"
# #     env_file:
# #       - .env
# #     depends_on:
# #       - db

# # volumes:
# #   postgres_data:



# version: "3.9"

# services:
#   db:
#     image: postgres:15
#     container_name: postgres
#     restart: always
#     env_file:
#       - .env
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     ports:
#       - "5432:5432"
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
#       interval: 5s
#       retries: 5
#       timeout: 5s

#   redis:
#     image: redis:7
#     container_name: redis
#     restart: always
#     ports:
#       - "6379:6379"
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 5s
#       retries: 5
#       timeout: 5s

#   web:
#     build: .
#     container_name: django_web
#     command: >
#       sh -c "
#       echo 'Waiting for Postgres and Redis...';
#       until nc -z db 5432; do sleep 1; done;
#       until nc -z redis 6379; do sleep 1; done;
#       echo 'Services ready, running migrations';
#       python manage.py migrate &&
#       python manage.py runserver 0.0.0.0:8000
#       "
#     volumes:
#       - .:/app
#     ports:
#       - "8000:8000"
#     env_file:
#       - .env
#     depends_on:
#       db:
#         condition: service_healthy
#       redis:
#         condition: service_healthy

# volumes:
#   postgres_data:



version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: >
      sh -c "
      echo 'Waiting for services...';
      until nc -z db 5432; do sleep 1; done;
      until nc -z redis 6379; do sleep 1; done;
      echo 'Running migrations';
      python manage.py migrate &&
      gunicorn filmapp.wsgi:application --bind 0.0.0.0:8000 --workers 4 --threads 2
      "
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  postgres_data:
